<div class="app-title">
    <div>
        <h1>Kelolah Jenis Pembayaran</h1>
    </div>
    <!-- <ul class="app-breadcrumb breadcrumb">
        <button id="modal-865424" data-toggle="modal" data-target="#TambahBayarUmum" title="Tambah Bayar Umum" class="btn btn-success fa fa-plus"></button>
    </ul> -->
</div>
<div class="row" ng-init="Init()">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="tile">
                <div data-loading></div>
            <div class="bs-component">
                    
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link active" data-toggle="tab" data-target="#home">Bayar Umum</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab" data-target="#profile">Bayar Khusus</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home">
                            
                        <div class="tile-title-w-btn" style="margin-top:15px;">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <!-- <label for="exampleInputEmail1" style="margin-right:15px;">
                                                Angkatan
                                            </label> -->
                                    <!-- <select class="form-control" ng-options="item as item.Angkatan for item in DatasTahun track by item.Angkatan" ng-model="SelectedAngkatan" ng-change="ShowData()"></select> -->
                                </div>
                            </form>
                            <p><a class="btn btn-primary icon-btn" href="" id="modal-865424" data-toggle="modal" data-target="#TambahAngkatan" ng-click="ReadJenis('Umum')" title="Tambah Angkatan"><i class="fa fa-plus"></i>Add Angkatan</a></p>
                        </div>

                        <div class="table-responsive">
                            <table datatable="ng" id="zero_config" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Angkatan</th>
                                        <th>Jenis Pembayaran</th>
                                        <th>Nominal</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DatasBayarUmum">
                                        <td>{{item.Angkatan}}</td>
                                        <td>{{item.JenisBayar[0].Jenis}}</td>
                                        <td>{{item.Nominal | currency : "Rp. " : 2}}</td>
                                        <td>
                                            <button id="modal-865424" data-toggle="modal" data-target="#Edit" title="Edit" ng-click="SelectedEdit(item)" class="btn btn-success fa fa-pencil"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="tile-title-w-btn" style="margin-top:15px;">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <!-- <label for="exampleInputEmail1" style="margin-right:15px;">
                                                        Angkatan
                                                    </label> -->
                                    <!-- <select class="form-control" ng-options="item as item.Angkatan for item in DatasTahun track by item.Angkatan" ng-model="SelectedAngkatan" ng-change="ShowData()"></select> -->
                                </div>
                            </form>
                            <p><a class="btn btn-primary icon-btn" href="" id="modal-865424" data-toggle="modal" ng-click="ReadJenis('Khusus')" data-target="#TambahAngkatan" title="Tambah Angkatan"><i class="fa fa-plus"></i>Add TA</a></p>
                        </div>
                        <div class="table-responsive">
                            <table datatable="ng" id="zero_config" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Tahun Akademik</th>
                                        <th>Jenis Pembayaran</th>
                                        <th>Nominal</th>
                                        <th width="10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DatasBayarKhusus">
                                        <td>{{item.TA}}</td>
                                        <td>{{item.JenisBayar[0].Jenis}}</td>
                                        <td>{{item.Nominal | currency : "Rp. " : 2}}</td>
                                        <td>
                                            <button id="modal-865424" data-toggle="modal" data-target="#EditTA" title="Edit" ng-click="SelectedEdit(item)" class="btn btn-success fa fa-pencil"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        &nbsp;
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>



<div class="modal fade" id="TambahAngkatan" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel" ng-show="JenisMenu=='Umum'">
                    Pembayaran Umum
                </h5>
                <h5 class="modal-title" id="myModalLabel" ng-show="JenisMenu=='Khusus'">
                    Pembayaran Khusus
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
            </div>
            <div class="modal-body">
                <form ng-submit="TambahAngkatan()" ng-show="JenisMenu=='Umum'">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Angkatan</label>
                        <input class="form-control" type="text" ng-model="DataInput.Angkatan" aria-describedby="emailHelp" placeholder="Angkatan Ex. 2012" required>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                                    Save changes
                                </button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                    </div>
                </form>
                <form ng-submit="TambahAngkatan()" ng-show="JenisMenu=='Khusus'">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tahun Akademik</label>
                        <input class="form-control" type="text" ng-model="DataInput.TA" aria-describedby="emailHelp" placeholder="Tahun Akademik Ex. 2012/2013-1" required>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                                        Save changes
                                    </button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="Edit" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    {{DatasInput.JenisBayar[0].Jenis}} Angkatan {{DatasInput.Angkatan}}
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
            </div>
            <div class="modal-body">
                <form ng-submit="UpdateNominal()">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Rp. &nbsp;</span></div>
                            <input class="form-control" type="text" currency-input="" ng-model="DatasInput.Nominal" aria-describedby="emailHelp" placeholder="Nominal" required>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                                    Save changes
                                </button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<div class="modal fade" id="EditTA" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    {{DatasInput.JenisBayar[0].Jenis}} Tahun Akademik {{DatasInput.TA}}
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
            </div>
            <div class="modal-body">
                <form ng-submit="UpdateNominal()">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text">Rp. &nbsp;</span></div>
                            <input class="form-control" type="text" currency-input="" ng-model="DatasInput.Nominal" aria-describedby="emailHelp" placeholder="Nominal" required>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                                    Save changes
                                </button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>