<div class="app-title">
    <div>
        <h1>Laporan</h1>
    </div>
</div>
<div class="row" ng-init="Init()">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="tile">
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <!-- <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab"
                            ng-click="Clear(item='create')" data-target="#CreatePembayaran">Create Pembayaran</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab" ng-click="Clear(item='cari')"
                            data-target="#cekpembayaran">Detail Tagihan Mahasiswa</a></li> -->
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link  active" data-toggle="tab"
                            ng-click="Clear(item='CariTA')" data-target="#LaporanTA">Laporan Per Thn. Akademik</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab"
                            ng-click="Clear(item='All')" data-target="#LaporanKeseluruhan">LaporanKeseluruhan</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab"
                            ng-click="Clear(item='Tanggal')" data-target="#LaporanTanggal">Laporan Berdasarkan
                            Tanggal</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab"
                            ng-click="Clear(item='RekapTunggakan')" data-target="#rekapitulasiTunggakan">Rekapitulasi Tunggakan</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="LaporanTA">
                        <div data-loading></div>
                        <div class="pull-right form-inline">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Pilih Tahun Akademik
                                </label>
                                <select class="form-control text-white bg-primary"
                                    ng-options="item as item.TA for item in DataPembayaran.TA track by item.TA"
                                    ng-model="DataInput" ng-change="CariTA()"></select>
                            </div>
                        </div>
                        <div class="card border-primary col-md-12">
                            <div class="card-body">
                                <div class="bs-component" ng-show="ShowLaporanTA" ng-hide="HideLaporanTA">
                                    <div class="table-responsive">
                                        <table datatable="ng" id="zero_config" dt-options="dtOptions"
                                            dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>NPM</th>
                                                    <th>Nama Mahasiswa</th>
                                                    <th>Total Pembayaran</th>
                                                    <th>Total Dibayar</th>
                                                    <th>Tunggakan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in DataTA">
                                                    <td>{{item.NPM}}</td>
                                                    <td>{{item.NamaMahasiswa}}</td>
                                                    <td>{{item.Total-item.Potongan | currency:"Rp. ":0}}</td>
                                                    <td>{{item.Bayar | currency:"Rp. ":0}}</td>
                                                    <td>{{item.Tunggakan | currency:"Rp. ":0}}</td>

                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="2"><b>Total</b></td>
                                                    <td><b>{{TotalTA.Total | currency:"Rp. ":0}}</b></td>
                                                    <td><b>{{TotalTA.Bayar | currency:"Rp. ":0}}</b></td>
                                                    <td><b>{{TotalTA.Tunggakan | currency:"Rp. ":0}}</b></td>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="line-head">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="LaporanKeseluruhan">
                        <div class="card border-primary col-md-12">
                            <div class="card-body">
                                <div class="bs-component">
                                    <div data-loading></div>
                                    <div class="table-responsive">
                                        <table datatable="ng" id="zero_config" dt-options="dtOptions"
                                            dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>TA</th>
                                                    <th>Total Bayar</th>
                                                    <th>Total Dibayar</th>
                                                    <th>Total Tunggakan</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in DataTotal">
                                                    <td>{{item.TA}}</td>
                                                    <td>{{item.Total | currency:"Rp. ":0}}</td>
                                                    <td>{{item.Bayar | currency:"Rp. ":0}}</td>
                                                    <td>{{item.Tunggakan | currency:"Rp. ":0}}</td>

                                                </tr>
                                            </tbody>
                                            <tfood>
                                                <tr>
                                                    <td><b>Total</b></td>
                                                    <td><b>{{TotalTA.Total | currency:"Rp. ":0}}</b></td>
                                                    <td><b>{{TotalTA.Bayar | currency:"Rp. ":0}}</b></td>
                                                    <td><b>{{TotalTA.Tunggakan | currency:"Rp. ":0}}</b></td>

                                                </tr>
                                            </tfood>
                                        </table>
                                    </div>
                                </div>
                                <div class="line-head">

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="LaporanTanggal">
                        <div class="pull-right form-inline">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    Pilih Tanggal
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right" ng-model="tanggal"
                                        ng-change="Tanggal(tanggal)" id="reservation">
                                </div>
                            </div>
                        </div>
                        <div class="card border-primary col-md-12">
                            <div class="card-body">
                                <div class="bs-component">
                                    <div data-loading></div>
                                    <div class="table-responsive">
                                        <table datatable="ng" id="zero_config" dt-options="dtOptions"
                                            dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>TA</th>
                                                    <th>Tanggal Bayar</th>
                                                    <th>NPM</th>
                                                    <th>Nama Mahasiswa</th>
                                                    <th>Keterangan</th>
                                                    <th>Jumlah Bayar</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in DatasTanggal">
                                                    <td>{{item.TA}}</td>
                                                    <td>{{item.TglBayar | date:'dd MMMM y'}}</td>
                                                    <td>{{item.NPM}}</td>
                                                    <td>{{item.NamaMahasiswa}}</td>
                                                    <td>{{item.Description}}</td>
                                                    <td class="text-right">{{item.JumlahBayar | currency}}</td>

                                                </tr>
                                            </tbody>
                                            <tfood>
                                                <tr>
                                                    <td colspan="5"><b>Total</b></td>
                                                    <td><b>{{TotalPembayaran | currency}}</b></td>

                                                </tr>
                                            </tfood>
                                        </table>
                                    </div>
                                </div>
                                <div class="line-head">

                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane fade" id="rekapitulasiTunggakan">
                        <div class="card border-primary col-md-12">
                            <div class="card-body">
                                <div class="bs-component">
                                    <div data-loading></div>
                                    <div class="table-responsive">
                                        <table datatable="ng" id="zero_config" dt-options="dtOptions"
                                            dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>NPM</th>
                                                    <th>Nama Mahasiswa</th>
                                                    <th>Tagihan</th>
                                                    <th>Bayar</th>
                                                    <th>Tunggakan</th>
                                                    <th>Keterangan</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in dataRekap">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{item.NPM}}</td>
                                                    <td>{{item.NamaMahasiswa}}</td>
                                                    <td class="text-right">{{item.tagihan | currency:"Rp. ":0}}</td>
                                                    <td class="text-right">{{item.bayar | currency:"Rp. ":0}}</td>
                                                    <td class="text-right">{{item.tunggakan | currency:"Rp. ":0}}</td>
                                                    <td>{{item.tunggakan<0 ? 'Kelebihan': ''}}</td>

                                                </tr>
                                            </tbody>
                                            <tfood>
                                                <tr>
                                                    <td colspan="3"><b>Total</b></td>
                                                    <td class="text-right"><b>{{totalTagihan | currency:"Rp. ":0}}</b></td>
                                                    <td class="text-right"><b>{{totalBayar | currency:"Rp. ":0}}</b></td>
                                                    <td class="text-right"><b>{{totalTunggakan | currency:"Rp. ":0}}</b></td>
                                                    <td class="text-right"><b></b></td>
                                                </tr>
                                            </tfood>
                                        </table>
                                    </div>
                                </div>
                                <div class="line-head">

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="TambahMahasiswa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Tambah Mahasiswa
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="Simpan()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">NPM</label>
                        <input class="form-control" type="text" ng-model="DataInput.NPM" aria-describedby=""
                            placeholder="NPM" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nama Mahasiswa</label>
                        <input class="form-control" type="text" ng-model="DataInput.NamaMahasiswa" aria-describedby=""
                            placeholder="Nama Mahasiswa" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Angkatan</label>
                        <input class="form-control" type="text" ng-model="DataInput.Angkatan" aria-describedby=""
                            placeholder="Angkatan" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kontak</label>
                        <input class="form-control" type="text" ng-model="DataInput.Kontak" aria-describedby=""
                            placeholder="Kontak" required>
                    </div>
                    <div class="form-group">
                        <label for="">Alamat</label>
                        <textarea class="form-control" ng-model="DataInput.Alamat" rows="4" required></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                                    Save changes
                                </button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditMahasiswa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Edit Mahasiswa
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form ng-submit="Update()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">NPM</label>
                        <input class="form-control" type="text" ng-model="DataInput.NPM" aria-describedby=""
                            placeholder="NPM" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nama Mahasiswa</label>
                        <input class="form-control" type="text" ng-model="DataInput.NamaMahasiswa" aria-describedby=""
                            placeholder="Nama Mahasiswa" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Angkatan</label>
                        <input class="form-control" type="text" ng-model="DataInput.Angkatan" aria-describedby=""
                            placeholder="Angkatan" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kontak</label>
                        <input class="form-control" type="text" ng-model="DataInput.Kontak" aria-describedby=""
                            placeholder="Kontak" required>
                    </div>
                    <div class="form-group">
                        <label for="">Alamat</label>
                        <textarea class="form-control" ng-model="DataInput.Alamat" rows="4" required></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                                        Save changes
                                    </button> -->
                        <button type="button" class="btn btn-secondary" ng-click="ClearData()" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>