<div class="app-title">
    <div>
        <h1>Mahasiswa</h1>
    </div>
    <!-- <ul class="app-breadcrumb breadcrumb">
        <button id="modal-865424" data-toggle="modal" data-target="#TambahMahasiswa" title="Tambah Mahasiswa" class="btn btn-success fa fa-plus"></button>
    </ul> -->
</div>
<div class="row" ng-init="Init()">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="tile">
            <div data-loading></div>
            <div class="tile-title-w-btn" style="margin-top:15px;">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <!-- <label for="exampleInputEmail1" style="margin-right:15px;">
                                                    Angkatan
                                                </label> -->
                        <!-- <select class="form-control" ng-options="item as item.Angkatan for item in DatasTahun track by item.Angkatan" ng-model="SelectedAngkatan" ng-change="ShowData()"></select> -->
                    </div>
                </form>
                <p><a class="btn btn-primary icon-btn" href="" id="modal-865424" data-toggle="modal" data-target="#TambahMahasiswa" ng-click="ReadJenis('Umum')" title="Tambah Angkatan"><i class="fa fa-plus"></i>Add Mahasiswa</a></p>
            </div>
            <div class="table-responsive" style="margin-top:20px;">
                <table datatable="ng" id="zero_config" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>NPM</th>
                            <th>Nama Mahasiswa</th>
                            <th>Angkatan</th>
                            <th>Alamat</th>
                            <th>Kontak</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in DatasMahasiswa">
                            <td>{{item.NPM}}</td>
                            <td>{{item.NamaMahasiswa}}</td>
                            <td>{{item.Angkatan}}</td>
                            <td>{{item.Alamat}}</td>
                            <td>{{item.Kontak}}</td>
                            <td>
                                <button id="modal-865424" data-toggle="modal" data-target="#EditMahasiswa" ng-click="SelectItem(item)" title="Edit" class="btn btn-success fa fa-pencil"></button>
                                <button ng-click="Delete(item)" title="Delete" class="btn btn-danger fa fa-times"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="TambahMahasiswa" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Tambah Mahasiswa
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div data-loading></div>
                <form ng-submit="Simpan()">
                    <div class="form-group">
                        <label for="exampleInputEmail1">NPM</label>
                        <input class="form-control" type="text" ng-model="DataInput.NPM" maxlength="9" minlength="9" aria-describedby="" placeholder="NPM" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nama Mahasiswa</label>
                        <input class="form-control" type="text" ng-model="DataInput.NamaMahasiswa" aria-describedby="" placeholder="Nama Mahasiswa" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Angkatan</label>
                        <input class="form-control" type="text" ng-model="DataInput.Angkatan" maxlength="4" minlength="4" aria-describedby="" placeholder="Angkatan" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Kontak</label>
                        <input class="form-control" type="text" ng-model="DataInput.Kontak" maxlength="15" aria-describedby="" placeholder="Kontak" required>
                    </div>
                    <div class="form-group">
                        <label for="">Alamat</label>
                        <textarea class="form-control" ng-model="DataInput.Alamat" rows="4" required></textarea>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary" value="Simpan">
                        <!-- <button data-dismiss="modal" type="submit" >
                            Save changes
                        </button> -->
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>