<div class="app-title">
    <div>
        <h1>Pembayaran</h1>
    </div>
    <!-- <ul class="app-breadcrumb breadcrumb" ng-show="ShowCari" ng-hide="HideCari">
        <li class="app-search">
            <input class="app-search__input" type="search" ng-model="DataCari" placeholder="Search Mahasiswa">
            <button class="app-search__button button"><i class="fa fa-search" ng-click="CariMahasiswa()"></i></button>
        </li>
        <button id="modal-865424" data-toggle="modal" data-target="#TambahMahasiswa" title="Tambah Mahasiswa" class="btn btn-success fa fa-plus"></button>
    </ul> -->
</div>
<div class="row" ng-init="Init()">
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="tile">
            <div class="bs-component">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link active" data-toggle="tab"
                            ng-click="Clear(item='create')" data-target="#CreatePembayaran">Create Pembayaran</a></li>
                    <li class="nav-item"><a href="javascript:void(0);" class="nav-link" data-toggle="tab"
                            ng-click="Clear(item='cari')" data-target="#cekpembayaran">Detail Tagihan Mahasiswa</a></li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade" id="cekpembayaran">
                        <div class="pull-right">
                            <ul class="app-breadcrumb breadcrumb">
                                <li class="app-search">
                                    <input class="app-search__input text-white bg-primary" type="search"
                                        ng-change="CariInformasi()" ng-model="DataCari" placeholder="Search Mahasiswa">
                                    <button class="app-search__button button"><i class="fa fa-search"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-primary col-md-12">
                            <div class="card-body">
                                <h4><b>Detail Pembayaran Mahasiswa</b></h4>
                                <div class="row" style="margin-top:15px; margin-bottom: 20px; font-size: 15px;">
                                    <div class="col-sm-3">
                                        <b>
                                            NPM <br> Nama Mahasiswa <br> Angkatan
                                        </b>
                                    </div>
                                    <div class="col-sm-6">
                                        <b>
                                            : &nbsp; {{DataInformation.NPM}} <br> : &nbsp;
                                            {{DataInformation.NamaMahasiswa}} <br> : &nbsp;
                                            {{DataInformation.Angkatan}}
                                        </b>
                                    </div>
                                </div>
                                <div class="line-head" style="margin-bottom:15px;">
                                </div>
                                <div class="bs-component">
                                    <div data-loading></div>
                                    <div class="table-responsive" ng-show="ShowDetailPembayaran"
                                        ng-hide="HideDetailPembayaran">
                                        <table datatable="ng" id="zero_config"
                                            class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center;">Tahun Akademik</th>
                                                    <th style="text-align:center;">Total Pembayar</th>
                                                    <th style="text-align:center;">Total Dibayar</th>
                                                    <th style="text-align:center;">Tunggakan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in DataInformation.MasterBayar">
                                                    <td>{{item.TA}}</td>
                                                    <td style="text-align:right;"><a href="" id="modal-865424"
                                                            data-toggle="modal" data-target="#DetailTotalTagihan"
                                                            title="Detail Tagihan" ng-click="ShowDataTagihan(item)">{{item.Total
                                                            | currency:"Rp. ":0}}</a></td>
                                                    <td style="text-align:right;"><a href="" id="modal-865424"
                                                            ng-click="ShowDataPembayaran(item)" data-toggle="modal"
                                                            data-target="#DetailTotalBayar" title="Detail Pembayaran">{{item.Bayar
                                                            | currency:"Rp. ":0}}</a></td>
                                                    <td style="text-align:right;">{{item.Tunggakan | currency:"Rp.
                                                        ":0}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Total</b></td>
                                                    <td style="text-align:right;"><b>{{DataTotal.Total | currency:"Rp.
                                                            ":0}}</b></td>
                                                    <td style="text-align:right;"><b>{{DataTotal.Bayar | currency:"Rp.
                                                            ":0}}</b></td>
                                                    <td style="text-align:right;"><b>{{DataTotal.Tunggakan |
                                                            currency:"Rp. ":0}}</b></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="line-head">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade  active show" id="CreatePembayaran">
                        <div class="pull-right">
                            <ul class="app-breadcrumb breadcrumb">
                                <li class="app-search">
                                    <input class="app-search__input text-white bg-primary" type="search"
                                        ng-change="CariMahasiswa()" ng-model="DataCari" placeholder="Search Mahasiswa">
                                    <button class="app-search__button button"><i class="fa fa-search"
                                            ng-click="CariMahasiswa()"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="card border-primary col-md-12">
                            <div class="card-body">
                                <h4><b>Input Pembayaran Mahasiswa</b></h4>
                                <div class="row" style="margin-top:15px; margin-bottom: 20px; font-size: 15px;">
                                    <div class="col-sm-3">
                                        <b>
                                            NPM <br> Nama Mahasiswa <br> Angkatan
                                        </b>
                                    </div>
                                    <div class="col-sm-6">
                                        <b>
                                            : &nbsp; {{DataInput.NPM}} <br> : &nbsp;
                                            {{DataInput.NamaMahasiswa}} <br> : &nbsp;
                                            {{DataInput.Angkatan}}
                                        </b>
                                    </div>
                                </div>
                                <div class="line-head" style="margin-bottom:15px;">
                                </div>
                                <div class="bs-component">
                                    <div data-loading></div>
                                    <form class="form-horizontal" ng-submit="Simpan()" ng-show="ShowInputPembayaran"
                                        ng-hide="HideInputPembayaran">
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Tanggal Bayar</label>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input class="form-control" type="date"
                                                        ng-model="DataInput.TglBayar" aria-describedby="emailHelp"
                                                        placeholder="Nominal" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">TA</label>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <select class="form-control"
                                                        ng-options="item as item.TA for item in DataPembayaran.DataTA track by item.TA"
                                                        ng-model="DataInput.TA"></select>
                                                    <!-- <input class="form-control" type="text" ng-model="DataInput.TA" aria-describedby="emailHelp" placeholder="Nominal" required> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Total Pembayaran</label>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">Rp.
                                                            &nbsp;</span></div>
                                                    <input class="form-control" type="text" style="text-align:right;"
                                                        currency-input="" ng-model="DataInput.JumlahBayar"
                                                        aria-describedby="emailHelp" placeholder="Nominal" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="control-label col-md-2">Keterangan</label>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <textarea class="form-control" rows="4"
                                                        ng-model="DataInput.Description" placeholder="Description"
                                                        required></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-5 col-md-offset-2">
                                                <input type="submit" class="btn btn-primary" value="Simpan">
                                                <!-- <button class="btn btn-primary" type="button"><i class="fa fa-fw fa-lg fa-check-circle"></i>Register</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" href="#"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a> -->
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="line-head">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailTotalTagihan" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Detail Pembayaran Tahun Akademik {{DatasTagihan.TA}}
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <h4>Pembayaran Khusus</h4>
                        </div>
                        <div class="table-responsive" ng-show="ShowDetailPembayaran" ng-hide="HideDetailPembayaran">
                            <table datatable="ng" id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th style="text-align:center;">Jenis</th>
                                        <th style="text-align:center;">Nominal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DatasTagihan.BayarKhusus">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.Jenis}}</td>
                                        <td style="text-align:right;">{{item.Nominal | currency:"Rp. ":0}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Total</b></td>
                                        <td style="text-align:right;">
                                            <b>{{TotalBayar.BayarKhusus | currency:"Rp. ":0}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <h4>Pembayaran Umum</h4>
                        </div>
                        <div class="table-responsive" ng-show="ShowDetailPembayaran" ng-hide="HideDetailPembayaran">
                            <table datatable="ng" id="zero_config" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th style="text-align:center;">Jenis</th>
                                        <th style="text-align:center;">Nominal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DatasTagihan.BayarUmum">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.Jenis}}</td>
                                        <td style="text-align:right;">{{item.Nominal | currency:"Rp. ":0}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><b>Total</b></td>
                                        <td style="text-align:right;">
                                            <b>{{TotalBayar.BayarUmum | currency:"Rp. ":0}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="PrintBA('Kartu')">
                        Print
                    </button>
                    <button type="button" class="btn btn-secondary" ng-click="ClearData()" data-dismiss="modal">
                        Close
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DetailTotalBayar" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Detail Pembayaran T.A. {{}}
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive" ng-show="ShowDetailPembayaran" ng-hide="HideDetailPembayaran">
                    <table datatable="ng" id="zero_config" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th style="text-align:center;">Tgl. Bayar</th>
                                <th style="text-align:center;">Keterangan</th>
                                <th style="text-align:center;">Jumlah Bayar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DetailBayar.TrxBayar">
                                <td>{{$index+1}}</td>
                                <td>{{item.TglBayar}}</td>
                                <td>{{item.Description}}</td>
                                <td style="text-align:right;">{{item.JumlahBayar | currency:"Rp. ":0}}</td>
                            </tr>
                            <tr>
                                <td colspan="3"><b>Total</b></td>
                                <td style="text-align:right;"><b>{{DetailBayar.Total | currency:"Rp. ":0}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-secondary" ng-click="ClearData()" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>


<div id="Kartu" ng-hide="Hide">
    <center>
        <h3 style="margin-bottom: 20px;">KARTU KONTROL<BR>ADMINISTRASI KEUANGAN <BR>STIMIK SEPULUH NOPEMBER
            JAYAPURA<BR>SEMESTER {{DataInformation.Semester}} TA. {{DataInformation.TA}}</h3>
    </center>
    <br>
    <div class="col-md-6" style="margin-left: 20px; margin-right: 20px;">
        <table style="width: 40% !important;">
            <tr>
                <td>Nama Mahasiswa</td>
                <td>:&nbsp;{{DataInformation.NamaMahasiswa}}</td>
            </tr>
            <tr>
                <td>Nomor Pokok Mahasiswa</td>
                <td>:&nbsp;{{DataInformation.NPM}}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class="col-md-12">
        <table style="width: 100%;">
            <tr>
                <td style="vertical-align: text-top;">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">Rincian Biaya Kuliah Semester Genap TA. 2019/2020 :</th>
                            </tr>
                            <tr>
                                <td>No</td>
                                <td>Jenis Pembayaran</td>
                                <td>Jumlah</td>
                                <td>Keterangan</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in DataPrint">
                                <td>{{$index + 1}}</td>
                                <td>
                                    {{item.Jenis}}
                                </td>
                                <td style="text-align: right;">
                                    {{item.Nominal| currency:"":0}}
                                </td>
                                <td>
                                </td>
                            </tr>
                        </tbody>
                        <tr>
                            <td colspan="2"><b>Total</b></td>
                            <td style="text-align: right;">
                                <b>{{PrintTotal | currency:"":0}}</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Telah di Bayar</b></td>
                            <td style="text-align: right;"><b> {{PrintBayar | currency:"":0}}</b></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Piutang</b></td>
                            <td style="text-align: right;"><b>{{PrintTunggakan | currency:"":0}}</b></td>
                            <td></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td>
                                Mengetahui <br> Pembantu Ketua II Bid. Administrasi Keuangan dan SDM <br><br><br><br><br> <b><u>Budi Soepriyanto, SE., MM</u><br>NIDN. 1428096701</b>
                            </td>
                        </tr>
                    </table>
                </td>
                <td style="width: 40px;">&nbsp;</td>
                <td  style="vertical-align: text-top;">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th colspan="4">Cicilan Piutang Biaya Kuliah Semester Genap TA. 2019/2020 :</th>
                            </tr>
                            <tr>
                                <th>Bulan</th>
                                <th>Jumlah</th>
                                <th>Tanggal Bayar</th>
                                <th>Keterangan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td rowspan="3">Maret</td>
                                <td style="text-align: right;">
                                    {{PrintTunggakan /4 | currency:"":0}}
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">April</td>
                                <td style="text-align: right;">
                                    {{PrintTunggakan/4 | currency:"":0}}
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">Mei</td>
                                <td style="text-align: right;">
                                    {{PrintTunggakan/4 | currency:"":0}}
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="3">Juni</td>
                                <td style="text-align: right;">
                                    {{PrintTunggakan/4 | currency:"":0}}
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                                <td rowspan="3">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>